table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid grey;
}
td, th {
    padding: 5px;
}
form{
    display: flex;
    align-content: space-between;
}

a.button {

    text-decoration: none;
    color: grey;
    background-color: aliceblue;
    border: 1px solid grey;
}
.error{
    color: red;
}